
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hadkee Sports By Adil</title>
      
       
        <link rel="stylesheet" href="~/css/StyleSheet.css">
    </head>
    <body>
    <header>
        <a href="#" class="logo">Hadkee Sports By Adil<span>.</span></a>
        <form action="">
            <input type="search" id="search-bar" name=" search">
            <label for="search-bar" class="fas fa-search"> 
            </label>

            </form>

    </header><nav>
    <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Home</a>
        <a href="#Products">products</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
        <div id="close" class="fas fa-times"></div>
    </nav>
    
 

    <section class="home" id="home">

        <div class="content">
            <span>Exporters and </span>
            
            <h3>Manufacturer</h3>
            
        </div>
        <div class="image">
            <img src="images/fs.jpg" alt="">
            

        </div>
    </section>
    <section class="category">

        <h1 class="heading"> shop by <span>category</span> </h1>

        <div class="box-container">

            <div class="box">
                <img src="images/a-3.jfif" alt="">
                <div class="content">
                    <span></span>
                    <h3>Sports Equipments</h3>
                    <a href="#" class="btn">shop now</a>
                </div>
            </div>

            <div class="box">
                <img src="images/cat-2 (2).jpg" alt="">
                <div class="content"><span></span>

                 <h3>Equipments</h3>
                    <a href="#" class="btn">shop now</a>
                </div>
            </div>
            
        </div>

    </section>
           
        
      
        
 
  

   
    <section class="featured" id="featured">
        <h1 class="heading"> <span>featured</span> products </h1>
        <div class="box-container">
            <div class="box">
                <div class="image-container">
                  
                    <div class="big-image">
                        <img src="images/a-3.jfif" class="big-image-1" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3>Equipments</h3>
         
                   
                    <div class="price">Oder Now <span></span></div>
                    <a href="#" class="btn">oder</a>
                </div>
            </div><div class="box">
                <div class="image-container">
                  
                    <div class="big-image">
                        <img src="images/a-1.jpg" class="big-image-1" alt="">
                    </div>
                </div>
                <div class="content">
                    <h3>Track Suits</h3>
         
                   
                    <div class="price">Oder Now <span></span></div>
                    <a href="#" class="btn">oder</a>
                </div>
            </div>
          
        </div>
    </section>
    <form>
    <table>
        <tr>
            <td>first Name:
            <input type="text" name="fName"></td>
        </tr>
        <tr>
            <td>last Name:
            <input type="text" name="lastName" /></td>
        </tr>
        <tr>
       <td> <label for="email">email : </label>
         <input type="email" id="email" name="email">
         </tr>
       
         <tr>
         <td><label for="email  ">Phone no:</label>
         <input type="text" name="phone no" class="field" pattern="[a-zA-Z0-9]+" />
        </td>
       </tr>
             <tr><td> 
        <h3>Gender</h3>
        <input type="radio" name="gender" value="male"> Male<br>
         <input type="radio" name="gender" value="female"> Female<br>   
         <input type="radio" name="gender" value="other"> Other.     
        </td></tr>
        
    </table>
</form>

     
    

    
    <section class="footer">
    <div class="footer-container">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#">products</a>
                <a href="#">About</a>
            </div>
            
            
           
            <div class="box">
                <h3>contact us</h3>
                <a href="#">03340446466</a>
                <a href="#">hadkee@gmail.com</a>
                <a href="#">ugoki modle town</a>
                
            </div>
        </div>
        <div class="credit"> created by <span> M.Adil 19101001-073 </span> | all rights reserved </div>
    </div>
    </section>

 

   
    </body>
    </html>

}

